@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-5xl;
  @apply font-normal;
  @apply text-gray-500;
  @apply text-center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.prose {
  @apply mt-10;
  @apply text-xl;
}

h2 {
  @apply text-3xl;
  @apply font-normal;
}

.prose-container {
  @apply prose;
  @apply mx-auto;
  @apply max-w-2xl;
  @apply pb-10;
  @apply px-12;
}

li {
  @apply list-disc;
  @apply ml-10;
}

ul {
  @apply mt-4;
}

.custom-field.two input {
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background:
    linear-gradient(90deg, #ec008c, #ec008c) center bottom/0 0.15em no-repeat,
    linear-gradient(90deg, #f9a8d4, #f9a8d4) left bottom/100% 0.15em no-repeat,
    linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
  transition: background-size 0.3s ease;
}

.custom-field.two textarea {
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background:
    linear-gradient(90deg, #ec008c, #ec008c) center bottom/0 0.15em no-repeat,
    linear-gradient(90deg, #f9a8d4, #f9a8d4) left bottom/100% 0.15em no-repeat,
    linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
  transition: background-size 0.3s ease;
}

.custom-field.two input.dirty,
.custom-field.two input:not(:placeholder-shown),
.custom-field.two input:focus {
  background-size: 100% 0.15em, 100% 0.1em, 100%;
}

.custom-field.two textarea.dirty,
.custom-field.two textarea:not(:placeholder-shown),
.custom-field.two textarea:focus {
  background-size: 100% 0.15em, 100% 0.1em, 100%;
}

.custom-field {
  position: relative;
  font-size: 14px;
  border-top: 10px solid transparent;
  margin-bottom: 0px;
  display: inline-block;
  --field-padding: 3px;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: var(--field-padding);
  padding-left:10px;
  border-radius: 3px;
  width: 350px;
  outline: none;
  font-size: 14px;
}

.custom-field textarea {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 5px;
  padding-left:10px;
  border-radius: 3px;
  width: 350px;
  outline: none;
  font-size: 14px;
}

.custom-field .placeholder {
  position: absolute;
  left: 5%;
  width: calc(100% - (var(--field-padding) * 45));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: "-30rem";
  transform: translateY(10%);
  color: #f9a8d4;
  transition: 
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
}

.custom-field input.dirty + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field input:not(:placeholder-shown) + .placeholder {
  top: -20px;
  left: 3%;
  font-size: 10px;
  color: #ec008c;
}

.custom-field textarea.dirty + .placeholder,
.custom-field textarea:focus + .placeholder,
.custom-field textarea:not(:placeholder-shown) + .placeholder {
  top: -20px;
  left: 3%;
  font-size: 10px;
  color: #ec008c;
}

@media (max-width:1280px) {
  .custom-field .placeholder {
    left: -75px;
  }

  .custom-field textarea + .placeholder {
    left: -67px;
  }

  .custom-field input.dirty + .placeholder,
  .custom-field input:focus + .placeholder,
  .custom-field input:not(:placeholder-shown) + .placeholder {
    left: -82px;
  }
  .custom-field textarea.dirty + .placeholder,
  .custom-field textarea:focus + .placeholder,
  .custom-field textarea:not(:placeholder-shown) + .placeholder {
    left: -77px;
  }
}

.active {
  color: #ec008c !important
}

.highlight {
  color: #ec008c
}